@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    font-family: 'Roboto', sans-serif;;
}
.wrapper{
    display: flex;
    position: relative;
    flex-direction: row;
    height: 100vh;
}
.wrapper .sidebar{
    min-height: 100vh;
    background-color: rgb(244, 242, 240);
    width: 220px;
    ;
}
.wrapper .sidebar .sidebar-wrapper{
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;;
    width: 200px;
    
}
.sidebar-wrapper h4{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.lists ul{
  display: flex;
  position: relative;
 padding: 10px;;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  margin-top: 90px;
  /* background-color: red;; */
  overflow-x: hidden;
  list-style-type: none;
}
.lists ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
   background-color: rgb(243, 239, 239);
   padding: 5px;;
   border-radius: 5px;
}
.lists ul li:hover{
    border: 1px solid rgb(232, 226, 226);
    cursor: pointer;
    transition: color 1s ease-out;
}

.lists ul li  a{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:10px;
font-weight: bold;
font-size: 13px;
text-decoration: none;
color: black;
}

.menu-icon{
    cursor: pointer;
    height: 30px;
    width: 30px;;
}
.small-screen-sidebar{
   transform: translateX(-100%);
   transition: all 1s linear;
}
.translate-main{
    transform: translateX(-50%);
}
/* hostel one :    1124257# */


/* Media Queries  */

  @media  (max-width:600px){
    .sidebar{
        display: none;
    }
    .menu-icon{
        display: block;;
    }
}
@media (min-width:600px) {
    .menu-icon{
        display: none;
    }
}  